@model List<ZcProjectManage.Company>
@using ZcProjectManage.Controllers
@{
    var companyTypes = ViewBag.companyTypes as Dictionary<CompanyTypeModel, CompanyTypeModel[]>;
}

<table class="datatable table table-striped" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="width:20%">公司名</th>
            <th>类型</th>
            <th style="width:20%">标签</th>
            @*<th>地址</th>
                <th>联系人</th>*@
            @*<th>联系人联系方式</th>*@
            <th style="width:35%">备注</th>
            <th>附件</th>
            <th>操作</th>
        </tr>
    </thead>
    @*<tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </tfoot>*@
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.name</td>
                <td>
                    @foreach (var typeKey in companyTypes.Keys)
                    {
                        foreach (var type in companyTypes[typeKey])
                        {
                            if (item.type == type.id)
                            {
                                @type.name
                            }
                        }
                        if (item.type == typeKey.id)
                        {
                            @typeKey.name
                        }
                    }
                </td>
                @*<td>@item.address</td>
                    <td>@item.connector</td>*@
                @*<td>@item.connectnum</td>*@
                <td>@item.tagids</td>
                <td>@item.remark</td>
                <td>
                    @if (!string.IsNullOrWhiteSpace(item.description))
                    {
                        <a onclick="window.open('@item.description')">下载</a>
                    }
                    else
                    {
                        @: 无
                    }
                </td>
                <td>
                    <a onclick="CompanyInfo(@item.id);return false;" href="">详细信息</a>
                    <a onclick="Delete(@item.id);return false;" href="">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function CompanyInfo(id) {
        window.location.href = "http://" + window.location.hostname + ":" + window.location.port + "/Main/Index?cname=Company&aname=Index&id=" + id;
        //$.ajax({
        //    type: 'post',
        //    url: '/Company/Index',
        //    data: { companyid: id },
        //    traditional: true,
        //    dataType: "html",
        //    success: function (data) {
        //        $("#page-content").html("");
        //        $("#page-content").html(data);
        //        return false;
        //    }
        //});
    }

    function Delete(id) {
        var r = confirm("确认删除？");
        if (r == true) {
            $.ajax({
                type: 'post',
                url: '/Company/Delete',
                data: { id: id },
                dataType: "json",
                success: function (data) {
                    if (data.State == 1) {
                        alert("删除成功");
                        $(".btnsearch").trigger('click');
                    } else {
                        alert("失败，原因如下\n" + data.Message);
                    }
                }
            });
        }
        else {
            return false;
        }

    }
</script>